{% extends 'base.html' %}
{% load static %}

{% block title %}
    RiftenGG | Your Bag
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="text-center">
        {% for orderitem in user.orderitem_set.all %}
            <div>
                <a style="color:silver;"href="{% url 'product_detail' orderitem.item.pk %}">
                    <strong style="color:#d4af37;">{{orderitem.item.name}}</strong>
                </a>                
                <img src="{{orderitem.img}}" alt="{{orderitem.name}}" max-width="auto" height="100"> <br>
                Cost Each: ${{orderitem.item.cost}} <br>
                Quantity: {{orderitem.quantity}} 
                <a class="btn btn-dark" id="buttons" href="{{ orderitem.item.get_subtract_item_url }}">-</a>
                {% if orderitem.quantity < orderitem.item.quantity %}
                    <a class="btn btn-dark" id="buttons" href="{{ orderitem.item.get_add_item_url }}">+</a>
                {% else %}
                    <p>Maxium quantity in bag, no more in stock :(</p>
                {% endif %}
                <br>
                Cost Total: ${{ orderitem.get_item_total}}
                <hr>
            </div>
        {% endfor %}
        <br>
        {% if object.get_order_total %}
        <tr>
            <td><b>Total Order Price</b></td>
            <td>${{ object.get_order_total }}</td>
        </tr>
         <tr>
            <td>
                <br>
                <a class="btn btn-dark btn-lg" id="buttons" href="{% url 'checkout' %}">Checkout</a>
                <a class="btn btn-dark btn-lg" id="buttons" href="/inventory">Continue Shopping</a>
            </td>
        </tr>
        {% endif %}
    </div>
</div>
    
{% endblock %}

