{% extends 'base.html' %}
{% load static %}

{% block title %}
    RiftenGG | Your Bag
{% endblock %}

{% block content %}
<br>
<br>
    <div>
        {% for orderitem in user.orderitem_set.all %}
            <div>
                <a style="color:lightblue;" href="{% url 'product_detail' orderitem.item.pk %}">
                    <strong>{{orderitem.item.name}}</strong>
                </a>                
                <img src="{{orderitem.img}}" alt="{{orderitem.name}}" max-width="auto" height="100"> <br>
                Product Value: {{orderitem.item.cost}} <br>
                Quantity: {{orderitem.quantity}} 
                {% if orderitem.quantity == 1 %}
                    <a href="{{ orderitem.item.get_subtract_item_url }}">Remove</a>
                {% else %}
                    <a href="{{ orderitem.item.get_subtract_item_url }}">SUBTRACT</a>
                {% endif %}
                
                
                {% if orderitem.quantity < orderitem.item.quantity %}
                    <a href="{{ orderitem.item.get_add_item_url }}">ADD</a>
                {% else %}
                    <p>Maxium quantity in bag, no more in stock :(</p>
                {% endif %}
                <br>
                ${{ orderitem.get_item_total}}
                <br>
                
            </div>
        {% endfor %}
        <br>
        {% if object.get_order_total %}
        <tr>
            <td><b>Total Order Price</b></td>
            <td>${{ object.get_order_total }}</td>
        </tr>
         <tr>
            <td>
                <a href="{% url 'checkout' %}">Checkout</a>
                <br>
                <a href="/inventory">Continue Shopping</a>
            </td>
        </tr>
        
        {% endif %}
    </div>

    
{% endblock %}

