{% extends 'base.html' %}
{% load static %}

{% block title %}
    RiftenGG | Your Bag
{% endblock %}

{% block content %}
<br>
<br>
    <div>
        {% for orderitem in user.orderitem_set.all %}
            <div>
                <a style="color:lightblue;" href="{% url 'product_detail' orderitem.item.pk %}">
                    <strong>{{orderitem.item.name}}</strong>
                </a>                
                <img src="{{orderitem.img}}" alt="{{orderitem.name}}" max-width="auto" height="100"> <br>
                Product Value: {{orderitem.item.cost}} <br>
                Quantity: 
                <a href="{{ orderitem.subtract_item_url }}">- </a> 
                <a href="{{ orderitem.get_subtract_item_url }}">MINUS</a>
                {{orderitem.quantity}} 
                <a href="{{ product.get_add_item_url }}"> +</a><br>
                <a href="{{ orderitem.get_add_item_url }}">Add to cart</a>
                <br>
            </div>
        {% endfor %}
        <br>
        Current Total: $
    </div>
{% endblock %}

