{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
    RiftenGG | Home
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="text-center">
        <div>
            <h1 id="welcome">Welcome to Riften General Goods</h1>
            <img src="{% static 'images/khajiit.png' %}" class="img-fluid" id="khajiit" alt="khajiit">
            <br>
            {% if user.is_authenticated %}
            <p>Good to see you {{ user.username }}, please enjoy browsing our shop inventory.
            {% else %}
                Choose an existing account for login
                <br>
                <a class="links" href="{% provider_login_url 'github' %}">github</a>
                <a class="links" href="{% provider_login_url 'google' %}">google</a>
                <br>
                Or create an account with us if you prefer  
                <br>
                <a class="links" href="/accounts/signup">signup</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}