{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
    RiftenGG | Home
{% endblock %}

{% block content %}
    <h1 id="welcome">Welcome to Riften General Goods!</h1>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    Choose an account to use for login:
    <a href="{% provider_login_url 'github' %}">github</a>
    <a href="{% provider_login_url 'google' %}">google</a>
    {% endif %}
{% endblock %}