{% extends 'base.html' %}
{% load static %}

{% block title %}
    RiftenGG | Jewelery
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="text-center">
        <br>
        <div class="row" id="search-div">
            <div class="container-sm">
                <form class="d-flex" id="search_box">
                    <input class="form-control me-2" id="search_bar" type="text" name="name" placeholder="Item Name" aria-label="Search"/>
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div>
            {% for product in products %}
                <div class="d-flex mt-5 justify-content-center" id="item-card">
                    <div class="card text-white bg-dark mb-3" style="max-width: 800px;">
                        <div class="row no-gutters">
                            <div class="col-md-4" id="idx-img">
                                <a href="{% url 'product_detail' product.pk %}">
                                    <img class="img-fluid rounded-center" src="{{product.img}}" alt="{{product.name}}">
                                </a>
                            </div>
                            <div class="col-md-8" id="idx-card">
                                <div class="card-body">
                                    <a style="color:silver;" href="{% url 'product_detail' product.pk %}">
                                        <h4 class="card-name" id="name-link">{{product.name}}</h4>
                                    </a>
                                    Category: {{product.category}} <br>
                                    Weight: {{product.weight}} <br>
                                    Value: {{product.cost}} <br>
                                    In Stock: {{product.quantity}} <br>
                                    {{product.description}} <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}