{% extends 'base.html' %}
{% load static %}

{% block title %}
    RiftenGG | Jewelery
{% endblock %}

{% block content %}
<br>
<div class="row" id="search-div">
    <div class="container-sm">
        <form class="d-flex" id="search_box">
            <input class="form-control me-2" id="search_bar" type="text" name="name" placeholder="Item Name" aria-label="Search"/>
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
    </div>
</div>
<br>
    <div>
        {% for product in products %}
            <div>
                <a style="color:lightblue;" href="{% url 'product_detail' product.pk %}">
                    <h4>{{product.name}}</h4>
                </a>                
                <img src="{{product.img}}" alt="{{product.name}}" max-width="auto" height="100"> <br>
                Product Name: {{product.name}} <br>
                Product Category: {{product.category}} <br>
                Product Weight: {{product.weight}} <br>
                Product Value: {{product.value}} <br>
                In Stock: {{product.quantity}} <br>
                Product Description: {{product.description}} <br>
            </div>
        {% endfor %}
        <ul class=".">
            {% for category in cat %}
                <li>
                    <a href="/inventory/{{ category }}">{{ category }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}