{% extends 'base.html' %}
{% load static %}

{% block title %}
    RiftenGG | Pickup
{% endblock %}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="text-center">
            <h3>Oh No!</h3>
            <h5>It looks like we need something called a computer to complete this order!</h5>
            <h5>We don't have those in Riften (read: this is a concept project)</h5>
            <h5>So just come to the store with your coin, or a bucket if you're short on coin</h5>
            <h5>and we will have this order waiting for you.</h5>
            <br>
        </div>
    </div>
{% endblock %}